* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #26253c;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.main__content {
    padding: 50px 10px;
    width: 100%;
    height: auto;
}
.main__wrapper {
    display: flex;
}
.main__center {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin-right: 100px;
}
.main__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 80px;
}
.main__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
}
.main__type-text { 
    line-height: 24px;
    font-size: 20px;
}
.main__type-link { 
    font-size: 16px;
    line-height: 24px;
    border: 3px solid #ccced2;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    background: #FFFF;
    cursor: pointer;
}
.main__type-link:not(:first-child) {
    margin-left: 3px;
}
.active {
    border: 3px solid #5da751;
    border-radius: 5px 0 0 5px !important;
}
.input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
}
.input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #5da751;
    border: 1px solid #5da751;
    cursor: pointer;
}
.input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #5da751;
    cursor: pointer;
}
.input::-webkit-range-progress{
    background: #5da751; 
}
.input::-moz-range-progress{
    background: #5da751; 
}
.main__input_sum { 
    margin-bottom: 70px;
}
.main__input_top { 
    display: flex;
    justify-content: space-between;
    padding: 0 30px 20px 30px;
    font-size: 24px;
    line-height: 28px;
}
.main__input_bot { 
    display: flex;
    justify-content: space-between;
    color: #86898d;
}
.main__input-sum span {
    margin-left: 20px;
}
.main__input-sum_bottom {
    margin-top: 8px;
}
.main__input_time { 
    margin-bottom: 70px;
}
.main__input-conditions { 
    color: #86898d;
    font-size: 14px;
}
.main__application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__application-bet {
    color: #86898d;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
}
.main__application-num { 
    font-size: 64px;
    line-height: 36px;
    font-weight: bold;
}
.main__application-btn { 
    background-color: #67ac5b;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 66px;
    border-radius: 5px;
    font-size: 28px;
    line-height: 27px;
}
@media (max-width: 992px) {
    .container {
        max-width: 900px;
    }
    .main__wrapper { 
        flex-wrap: wrap;
    }
    .main__center {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .main__application_payment { 
        display: flex;
        align-items: center;
    }
    .main__application-bet { 
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .main__application-num { 
        margin-bottom: 30px;
        font-size: 40px;
    }
    .main__application-btn  { 
        margin-bottom: 30px;
        width: 300px;
        height: 66px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 700px;
    }
}
@media (max-width: 576px) {
    .container { 
        max-width: 500px;
    }
    .main__title {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .main__type {
        display: block;
        margin-bottom: 75px;
    }
    .main__input_time {
        margin-bottom: 50px;
    }
    .main__type-text { 
        display: block;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .main__input_top {
        padding: 0 10px 5px 10px;
        font-size: 20px;
        line-height: 22px;
    }
    .main__input-sum span {
        margin-left: 10px;
    }
    .main__application-bet { 
        font-size: 16px;
    }
    .main__application-num {
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    .container {
        max-width: 320px;
    }
    .main__title {
        font-size: 22px;
    }
    .main__type-link  {
        border-radius: 5px;
        width: 300px;
    }
    .active {
        border-radius: 5px !important;
    }
    .main__type-link:not(:last-child) { 
        margin-bottom: 5px;
    }
    .main__type-link:not(:first-child) {
        margin-left: 0;
    }
    .main__input_top {
        padding: 0;
        font-size: 16px;
    }
    .main__input-sum {
        font-size: 16px;
    }
    .main__input-sum_bottom {
        font-size: 14px;
    }
    .main__input-conditions { 
        font-size: 12px;
    }
    .main__application-bet { 
        font-size: 14px;
        margin-bottom: 15px;
    }
    .main__application-num {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .main__application-bet .pay {
        margin-bottom: 15px;
    }
    .main__application-btn {
        font-size: 22px;
        height: 60px;
    }
}